@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadows ==========>  */
.cardShadow {
  box-shadow: 0px 4px 30px 10px rgba(209, 209, 209, 0.25);
}

.rightPor {
  box-shadow: 0px 4px 8px 0px rgba(188, 188, 188, 0.25);
}

.leftNavigationSha {
  background: rgba(37, 161, 142, 0.1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
}

.widgetSha {
  box-shadow: 0px 4px 10px 1px rgba(173, 170, 170, 0.25);
}

.uiShadow1 {
  box-shadow: 0px 4px 10px 0px rgba(163, 163, 163, 0.25);
}
.hideScroll::-webkit-scrollbar {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* drawer styles ===========>  */

.drawer {
  width: 50% !important;
}
@media screen and (max-width: 700px) {
  .drawer {
    width: 70% !important;
  }
}
@media screen and (max-width: 500px) {
  .drawer {
    width: 100% !important;
  }
}
/* drawer styeles ends here ===========>  */

/* Modal Styles ==> */
.modal-rounded {
  border-radius: 15px;
  border: 0.5px solid #c3c3c3;
  background: #fff;
}

.update-input {
  border-radius: 7px;
  border: 1px solid #e4e4e4;
  background: #fff;
}
