@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadows ==========>  */
.cardShadow {
  box-shadow: 0px 4px 30px 10px rgba(209, 209, 209, 0.25);
}

.rightPor {
  box-shadow: 0px 4px 8px 0px rgba(188, 188, 188, 0.25);
}

.leftNavigationSha {
  background: rgba(37, 161, 142, 0.1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
}

.widgetSha {
  box-shadow: 0px 4px 10px 1px rgba(173, 170, 170, 0.25);
}
